<h1>Listando clientes</h1>
 
<table class= "table">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Razon Social</th>
    <th>Domicilio</th>
    <th>Telefono</th>
  </tr>
 
  <% @customers.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.surname %></td>
      <td><%= c.tradename %></td>
      <td><%= c.address %></td>
      <td><%= c.phone %></td>

      <td> <%= link_to 'Show', customer_path(c.id) %></td>
      <td> <%= link_to 'Edit', edit_customer_path(c.id) %> </td>
      <td> <%= link_to 'Delete', customer_path(c.id), method: :delete, data: { confirm: '¿Está seguro de querer borrar este registro?'} %> </td>


    </tr>    
  <% end %>
  <tr> 
      <td><%= link_to 'Agregar Cliente', new_customer_path %></td>
  </tr>
</table>

<br>
<br>

<table>
  <tr>
    <td><%= link_to 'INICIO', welcome_index_path %> </td>
  </tr>
</table>