.row
  .col-md-12
    .card
      .card-header{"data-background-color" => "red"}
        %h4.title
          = t('.listing_customers')
        %p.category
          = t('.listing_customers')
      .card-content.table-responsive
        %table.table
          %thead.text-primary
            %tr
              %th= t('.id')
              %th= t('.name')
              %th= t('.surname')
              %th= t('.tradename') 
              %th= t('.address') 
              %th= t('.phone')
              %th= t('.service_orders')
          - @customers.each do |c|
            %tbody
              %tr
                %td= c.id
                %td= c.name
                %td= c.surname
                %td= c.tradename
                %td= c.address
                %td= c.phone
                %td
                  = link_to 'Edit', edit_customer_path(c.id), remote: true
                %td
                  = link_to 'Delete', customer_path(c.id), method: :delete, data: { confirm: '¿Está seguro de querer borrar este registro?'}
                %td
                  = link_to 'Service Orders', service_orders_list_customer_path(c.id), remote: true

  = link_to 'Agregar Cliente', new_customer_path, remote: true
  = link_to 'INICIO', welcome_index_path
