.row
  %h4 Búsqueda por Nombre     
  #search.ui-widget
    = simple_form_for :search, method: :get, html: {class: 'form-inline'} do |f|        
      = f.input :name, label: false, input_html: {placeholder: 'Ingrese Nombre'}
      = f.submit 'Buscar'
  #back
    = link_to t('.back'), customers_path

.row
  .col-md-12
    .card
      .card-header{"data-background-color" => "red"}
        %h4.title
          = t('.listing_customers')
        %p.category
          = t('.listing_customers')
      .card-content.table-responsive
        %table.table
          %thead.text-primary
            %tr
              %th= t('.id')
              %th= t('.name')
              %th= t('.surname')
              %th= t('.tradename') 
              %th= t('.address') 
              %th= t('.phone')
              
          - @customers.each do |c|
            %tbody
              %tr
                %td= c.id
                %td= c.name
                %td= c.surname
                %td= c.tradename
                %td= c.address
                %td= c.phone
                %td
                  = link_to t('.edit'), edit_customer_path(c.id), remote: true
                %td
                  = link_to t('.delete'), customer_path(c.id), method: :delete, data: { confirm: '¿Está seguro de querer borrar este registro?'}
                %td
                  = link_to t('.service_orders'), customer_service_orders_path(c.id), remote: true
        = paginate @customers

  = link_to 'Agregar Cliente', new_customer_path, remote: true
  
:javascript
  $(document).ready( function(){
    
  //      $.get('/customers/2',          
  //        function(datos) {
  //        alert('Respuest = '+datos.name)
  //       }, "json")
    $("#search_name").autocomplete({
      source: "/customers",
      //minLength: 2,
    });
  });
    
  //  $('#search_name').click( function()
  //    {
  //      var nombre = $(this);
  //      $.get('/customers/2',          
  //        function(datos) {
  //        alert('Respuest = '+datos.name)
  //       }, "json")
  //    }); 
  
  //alert(mensaje);
  //});