<h1> Nuevo Cliente</h1>
<%= form_for :customer, url: customers_path do |form| %>
  
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
  </p>

  <p>
    <%= form.label :tradename %><br>
    <%= form.text_field :tradename %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>  

 
  <p>
    <%= form.submit  value: 'Guardar Cliente'%>
  </p>
<% end %>

<%=link_to "Atras", customers_path %>