- maintenances.each do |maintenance|
	%tr
		%td= link_to maintenance.id , maintenance_path(maintenance.id)
		%td= maintenance.observations
		%td= maintenance.pending_date
		%td= maintenance.maintenance_date_made
		%td= maintenance[:status]
		%td= maintenance.customer.name
		%td= link_to 'Editar', edit_maintenance_path(maintenance.id)
