.row
	.col-md-12
		.card
			.card-header{"data-background-color" => "red"}
				%h4.title
					= t('.maintenance_list_pending')
			.card-content.table-responsive
				%table.table
					%thead.text-primary
						%tr
							%th= t('.id')
							%th= t('.observations')
							%th= t('.pending_date')
							%th= t('.maintenance_date_made')
							%th= t('.status')
							%th= t('.customer')
					%tbody
						= render 'maintenance_table', maintenances: @maintenances
