.login-form
  = form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "form-signin" }) do |f|
    %h2.text-center Log in
    .form-group
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'e-mail'
    .form-group
      = f.password_field :password, autocomplete: "off",class: 'form-control', placeholder: 'password'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
    .action
      = f.submit "Log in here", class: "btn btn-primary btn-block"
  = render "devise/shared/links"
  