%table.table
  %tr
    %th= t('.id')
    %th= t('.creation_date')
    %th= t('.last_move_date')
    %th= t('.status')
    
  - service_orders.each do |os|
    %tr
      %td= os.id
      %td= os.created_at.strftime('%d-%m-%Y')
      %td= os.updated_at.strftime('%d-%m-%Y')
      %td= t(os.status.description) if os.status.present?
      %td= link_to "Edit", edit_service_order_path(os.id), remote: true, class: "btn btn-primary"

