
%h2 Service Order
= simple_form_for @service_order do |f|
  .content
    .input-group
      .col-md-2
        = f.input :created_at, as: :date, html5: true
      .col-md-2
        = f.association :customer
      .col-md-2
        = f.input :reported_problem
      .col-md-2
        = f.input :status_id, collection: Status.all,  label_method: :description
      .col-md-2
        = f.input :cost
    .row
      .col-lg-12
        .card
          .header
            %h3.title
              Movements
          .content
            #movements                           
              =f.simple_fields_for :movements do |mov|
                = render 'movements/form', f: mov
              .links
                = link_to_add_association 'add movement', f, :movements, partial: 'movements/form'

  = f.submit value: 'Guardar Orden de Servicio'


