%table.table
  %tr
    %th= t('.id')
    %th= t('.creation_date')
    %th= t('.last_move_date')
    %th= t('.actual_state')    
  - service_orders.each do |os|
    %tr
      %td= os.id
      %td= os.created_at.strftime('%d-%m-%Y')
      %td= os.updated_at.strftime('%d-%m-%Y')
      %td= t(".#{os.status.description}") if os.status.present?
      %td= link_to t('.customer'), customer_path(os.customer), remote: true
      -if os.device.present?
        %td= link_to t('.device'), device_path(os.device), remote: true if os.device.present?
      -else
        %td= link_to t('.add_device'), new_service_order_device_path(os) , remote: true
      %td= link_to t('.delete'), service_order_path(os.id), method: :delete, data: {confirm: 'Esta seguro de eliminar este registro??'}
      %td= link_to t('.edit'), edit_service_order_path(os.id), remote: true
       
      %td= link_to t('.movements') , service_order_movements_path(os.id)
#paginator
  = paginate service_orders
  %br
      
