<h1>Listing Service Orders</h1>
<div class="row justify-content-end">
	<div class="col-4">
		<input type="date" name="fecha" value="<%= Date.new %>">
 
	</div>
</div>

<table  class= "table" id="tabla">
	<tr>
		<th> Id:</th>
		<th> Creation Date</th>
		<th> Last Move Date</th>
		<th> State</th>
		<th> Customer</th>
	</tr>

	<%@service_orders.each do |os|%>
	<tr>
		
		<td> <%= os.id %> </td>
		<td> <%= os.creation_date_at %> </td>
		<td> <%= os.last_move_date_at %> </td>
		<td> <%= os.state.state%> </td>
		<td> <%= os.customer.name %> </td>
		<td> <%=link_to "Customer", controller: "customers", action: "show", id: os.customer_id %> </td>
		<td> <%= link_to "Delete ", service_order_path(os.id), method: :delete, data: {confirm: 'Esta seguro de eliminar este registro??'} %> </td>
		<td> <%= link_to "Edit", edit_service_order_path(os.id), remote: true, class: "btn btn-primary" %>
</td>
	</tr>

	<%end %>
</table>
<%= link_to "Agregar nueva orden servicios", new_service_order_path, remote: true, class: "btn btn-primary" %>


</div>