<h1>Listing Service Orders</h1>
<div class="row justify-content-end">
	<div class="col-4">
		<%=form_tag("/service_orders/filter_by_date", remote: true, id: "busqueda") do %>
			<%=label_tag(:date_start, "date_start") %>
			<%=date_field_tag(:date_start)  %> <br>
			<%=label_tag(:date_end, "date_end") %>
			<%=date_field_tag(:date_end)  %>
			<%= submit_tag("buscar")%>

	  <% end %>
	</div>
</div>


<table  class= "table" id="tabla">
	<tr>
		<th> Id:</th>
		<th> Creation Date</th>
		<th> Last Move Date</th>
		<th> State</th>
		<th> Customer</th>
	</tr>

	<% @service_orders.each do |os|%>
	<tr>

		<td> <%= os.id %> </td>
		<td> <%= os.creation_date_at.strftime('%d-%m-%Y') %> </td>
		<td> <%= os.last_move_date_at %> </td>
		<td> <%= os.state.state%> </td>
		<td> <%= link_to "View", customer_path(os.customer),method: :get, remote: true %> </td>
		<td> <%= link_to "Delete ", service_order_path(os.id), method: :delete, data: {confirm: 'Esta seguro de eliminar este registro??'} %> </td>
		<td> <%= link_to "Edit", edit_service_order_path(os.id), remote: true, class: "btn btn-primary" %>
		</td>
	</tr>

	<%end %>
</table>
<%= link_to "Agregar nueva orden servicios", new_service_order_path, remote: true, class: "btn btn-primary" %>


</div>