%h1 Service Orders
= form_for @service_order, url: service_orders_path do |f|
  = f.label :state
  = f.select(:state_id, State.all.collect {|p| [p.state, p.id]})
  %br
  = fields_for @service_order, @service_order.customer do |customer_list|
    = customer_list.collection_select :customer_id, Customer.all, :id, :list_of_customer, {prompt: 'Por favor, seleccione un cliente'}
  %br
  = f.submit value: 'Guardar Orden de Servicio'
