= simple_form_for [@service_order, @payment] do |f|
	-#= f.simple_fields_for :payments do |p|
	= f.input :amount	
	= f.input :description
	= f.input :payed_at, as: :date, html5: true
	= f.input :service_order_id, input_html: { value: @service_order.id}, as: :hidden
	= f.submit

