<!DOCTYPE html>
<html>
<head>
  <title>Prueba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="">
  <div class="wrapper ">
    <%= render 'layouts/navigation/sidebar' %>
    <div class="main-panel"> 
      <!--Navbar-->
      <%= render 'layouts/navigation/navbar'%>
      <div class="content">
        <div class="container">
            <div><p class="notice"><%= notice %></p></div>
            <div><p class="alert"><%= alert %></p></div>
            <div><%= unless user_signed_in? != true
              link_to 'log out', destroy_user_session_path, method: :delete
            end %> </div>

           <%= yield %>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
