.sidebar{"data-color" => "red", "data-background-color" => "white" }
  .sidebar-wrapper
    .logo
      %a.simple-text{:href => root_path}
        Localhost
    %ul.nav
      %li{ class: "#{'active' if params[:controller] == 'customers' }" }
        %a{:href => customers_path}
          %i.ti-user
          %p Clientes
      %li.dropdown{ class: "#{'active' if params[:controller] == 'service_orders'}" }
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Ordenes de Servicio
        %ul.dropdown-menu
          %li
            %a{:href => service_orders_path}
              = t('.service_orders')
          %li
            %a{:href => pending_service_orders_path}
              = t('.service_orders_pending')
          
      %li.dropdown{class: "#{'active' if params[:controller] == ('maintenances') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Mantenimientos
        %ul.dropdown-menu
          %li
            %a{:href => maintenances_path}
              = t('.maintenances_list')
          %li
            %a{:href => pending_maintenances_path}
              = t('.maintenance_list_pending')
          %li
            %a{:href => new_maintenance_path }
              = t('.new_maintenance')
      %li.dropdown{class: "#{'active' if params[:controller] == ('devices') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Dispositivos
        %ul.dropdown-menu
          %li
            %a{:href => devices_path}
              = t('.devices_list')
          %li
            %a{:href => new_device_path}
              = t('.new_device')
      %li.dropdown{class: "#{'active' if params[:controller] == ('payments') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Pagos
        %ul.dropdown-menu        
          %li
            %a{:href => payments_path}
              = t('.payments_list')
          /
            %li
              %a{:href => new_payment_path}
                = t('.new_payment')
      %li.dropdown{class: "#{'active' if params[:controller] == ('payment_types') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Tipos de Pago
        %ul.dropdown-menu        
          %li
            %a{:href => payment_types_path}
              = t('.payment_types_list')
          %li
            %a{:href => new_payment_type_path}
              = t('.new_payment_types')
          
     

