.sidebar{"data-color" => "red", "data-background-color" => "white" }
  .sidebar-wrapper
    .logo
      %a.simple-text{:href => root_path}
        Localhost
    %ul.nav
      %li{ class: "#{'active' if params[:controller] == 'customers' }" }
        %a{:href => customers_path}
          %i.ti-user
          %p Clientes
      %li{ class: "#{'active' if params[:controller] == 'service_orders'}" }
        %a{:href => service_orders_path}
          %i.ti-view-list-alt
          %p Ordenes Servicio
      %li.dropdown{class: "#{'active' if params[:controller] == ('maintenances') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Mantenimientos
        %ul.dropdown-menu
          %li
            %a{:href => maintenances_path}
              = t('.devices_list')
          %li
            %a{:href => pending_maintenances_path}
              = t('.maintenance_list_pending')
          %li
            %a{:href => new_maintenance_path }
              = t('.new_maintenance')
      %li.dropdown{class: "#{'active' if params[:controller] == ('devices') }"}
        %a{:href => '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
          %i.ti-view-list-alt
          %p Dispositivos
        %ul.dropdown-menu
          %li
            %a{:href => devices_path}
              = t('.devices_list')
          %li
            %a{:href => new_device_path}
              = t('.new_device')
          
     

